# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local temporary files
*.log
*.tmp


.Rhistory
.RData
.Rproj.user/
tests/debug.py